label {
	display: block;
	text-align: left;
	padding: 15px;
}

.questionForm {
	border-style: groove;
	width: 40%;
	margin: 50px auto 0;
	text-align: center;
	padding: 0px;
}

button {
	display: inline-block; 
	width: 40%;
	margin: 5% 0 5% 0;
	font-size: 90%;
}
.answerValue{
	font-size: 110%;
}

#questionNumber{
	text-align: center;
}

input[type="radio"]{
	display: inline-block;
}
